.container {
    position: relative;
    margin: 0 auto;
    padding: 10rem 0;
    width: 760px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
  color: #fff;
  font-size: 3rem;
}

@media(max-width: 600px) {
  .container {
    width: 100%;
    height: auto;
    padding-bottom: 0;
  }
}
