.portfolio {
  background-image: url("../../public/images/husen-siraaj-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 6rem 0;
  width: 760px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
    color: #fff;
}

.grid {
  display: flex;
  flex-direction: column;
}
