.portfolio {
  background-image: url("../../public/images/husen-siraaj-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.addButton {
  margin: 0 auto;
  background-color: rgb(96, 255, 135);
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 1px solid rgb(96, 255, 135);
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

.addButton:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: rgb(96, 255, 135);
  cursor: pointer;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 6rem 0;
  width: 760px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.header {
    color: #fff;
    font-size: 3rem;
}

.grid {
  display: flex;
  flex-direction: column;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
    margin: auto;
    text-align: center;
    padding-bottom: 2rem;
  }
}
