.success {
  background-image: url("../../public/images/connor-home-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 6rem 0;
  width: 760px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.textbox {
    margin-top: 6rem;
    background-color: rgba(0,0,0,0.75);
    padding: 0 2rem;
    border-radius: 6px;
}

.header {
  color: #fff;
  font-size: 3rem;
}


