.success {
  background-image: url("../../public/images/leandra-rieger-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.textbox {
    margin-top: 6rem;
    background-color: rgba(0,0,0,0.75);
    padding: 0 2rem;
    border-radius: 6px;
}

.header {
  color: #fff;
  font-size: 3rem;
}
