.container {
  position: relative;
  display: flex;
}

.image {
  position: absolute;
  width: 55%;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

.image:hover {
    transform: scale(1.09);
    transition: transform 0.2s ease-in;
    z-index: 200;
}
