.container {
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
}

.burger {
  color: #fff;
}

.burger:hover .bar{
  background-color: #f04854;
  transition: 0.3s;
}

.bar {
  width: 60px;
  height: 4px;
  border-radius: 6px;
  background-color: #fff;
  margin: 0.5rem 0;
}

