.container {
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    top: 6.5rem;
    right: 0;
    z-index: 100;
    width: 0;
    overflow-x: hidden;
    transition: 0.5s;
    display: none;
}

.content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.container a {
    padding: 8px;
    display: block;
    transition: 0.3s;
    width: 100%;
    color: #f04854;
    margin-bottom: 1rem;
    text-align: center;
}

.container a:hover {
    background-color: rgba(0,0,0,0.8);
    color: #fff;
}

@media(max-width: 600px) {
  .container {
    display: flex;
  }
}
