.container {
    position: relative;
    bottom: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.content p {
    margin: 0;
}

.info {
    color: #f04854;
    display: flex;
    align-items: center;
}

.iconbox {
    display: flex;
    flex: 0.5;
    justify-content: space-evenly;
    align-items: center;
}

.icon {
    color: #f04854;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.2);
    transition: all 0.2s ease-in-out;
    color: #fff;
    opacity: 0.8;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-evenly;
    }

    .content {
        text-align: center;
        margin-top: 2rem;
    }

    .info {
        justify-content: center;
    }

    .iconbox {
        width: 100%;
    }
}
