.background {
  position: relative;
  background-image: url("../public/images/michelle-spollen-unsplash.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
}

.header {
  position: relative;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem 2rem;
  border-radius: 6px;
  color: #fff;
  line-height: 2.5rem;
}

.header span {
  color: #f04854;
}

.header span:hover {
  color: #fff;
  opacity: 0.8;
}

.banner {
  margin-bottom: 10rem;
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
    grid-template-columns: 1fr;
    margin: 2rem 0.5rem;
  }

  .header {
    margin: 1rem auto;
    width: 95%;
    left: 0 !important;
    text-align: center;
  }
}
